/* 清除默认样式 */
* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content: "";
    display: table; 
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
     *zoom: 1;
  } 

/* 定义版心为公共类 */
.w {
    width: 1226px;
    margin: 0 auto;
}

body {
    background-color: #fff;
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}

/* 头部导航栏*/
.nav {
    height: 40px;
    line-height: 40px;
    background-color: #333;
}
.nav>.container {
    height: 40px;
    font-size: 12px;
}
.nav ul.topbar-nav {
    float: left;
}
.nav .topbar-nav li {
    float: left;
    height: 40px;
}

.nav .topbar-nav li>a {
    padding: 0 8px;
    border-right: 1px solid rgb(66,66,66);
    color: #b0b0b0;
}
.nav .topbar-nav li:first-child>a {
    padding-left: 0;
}
.nav .topbar-nav li:last-child>a {
    padding-right: 0;
    border: 0;
}

.nav .topbar-cart,.nav .topbar-info {
    float: right;
}

.nav .topbar-cart {
    display: block;
    width: 120px;
    height: 40px;
    background-color: #424242;
    color: #b0b0b0;
    text-align: center;
}
.nav .topbar-info {
    margin-right: 18px;
}
.nav .topbar-info li {
    float: left;
    height: 40px;
}
.nav .topbar-info li>a {
    padding: 0 7px;
    border-right: 1px solid rgb(66,66,66);
    color: #b0b0b0;
}
.nav .topbar-info li:last-child>a {
    border: 0;
}

.nav .container a:hover {
    color: #fff;
}

.nav div.container a.topbar-cart:hover {
    background-color: #fff !important;
    color: #ff6700;
}

/* 头部 */
div.header {
    height: 56px;
    margin: 22px auto;
}
.header>.logo,.header>.nav2
{
    float: left;
}
.header>.logo {
    width: 56px;
    height: 56px;
    margin-right: 180px;
}
.header .nav2 li {
    float: left;
    padding: 0 10px;
    height: 56px;
    line-height: 56px;
}
.header .nav2 li>a {
    color: #333;
    font-size: 16px;
}


.header>.fdj,.header>.search {
    float: right;
    box-sizing: border-box;
    line-height: 48px;
    margin: 3px 0;
    color: rgb(117,117,117);
    font-size: 14px;
    border:  1px solid #e0e0e0;
}
.header>div.fdj {
    height: 50px;
    width: 50px;
    text-align: center;
    /* border-left: 0 solid #e0e0e0; */
}
.header>div.fdj>.iconfont {
    font-weight: 700;
    font-size: 18px;
}
.header>.search {
    height: 50px;
    width: 245px;
    padding: 0 10px;

}
.header .nav2 li>a:hover {
    color: #ff6700;
}

/* 副导航栏 */
.main {
    background-image: url(./images/xiaomi12.jpg);
    background-size: 1226px;
}
.main ul.nav3 {
    height: 420px;
    width: 234px;
    padding: 20px 0;
    background-color: rgba(105, 101, 101, 0.6);
}
.main ul.nav3 a {
    display: block;
    height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
}
.main ul.nav3 a>span {
    float: right;
}
.main ul.nav3 a:hover {
    background-color: #ff6700;
}

.zst {
    margin: 15px auto 28px;
}
.zst ul {
    width: 234px;
    height: 170px;
}
.zst ul li {
    float: left;
    box-sizing: border-box;
    padding-top: 10px;
    width: 78px;
    height: 85px;
    background-color: rgb(95,87,80);

}
.zst ul li>a {
    display: block;
    padding: 8px 0;
    border-right: 1px solid rgb(102,94,87);
    font-size: 12px;
    color: rgb(207, 204, 202);
    text-align: center;
}
.zst ul li a>img {
    display: block;
    width: 24px;
    margin: 3px 27px;
}
.zst ul li>.border {
    width: 60px;
    height: 10px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(102,94,87);
}

.zst>ul,.zst>div {
    float: left;
}
.zst>div {
    width: 316.6px;
    height: 170px;
    margin-left: 14px;
}

.zst>div>a>img {
    width: 316.6px;
}

/* 主要区域 */
.bc {
    height: 1920px;
    box-sizing: border-box;
    padding-top: 28px;
    background-color: rgb(245,245,245);
}
img.dt {
    display: block;
    margin-bottom: 24px;
}

.shouji>h2 {
    float: left;
    height: 52px;
    font-size: 22px;
    font-weight: 200;
    line-height: 52px;
    color: #333;
}
.shouji>.ckgd {
    float: right;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
}
.shouji>.ckgd a {
    color:#424242
}

.sjzs>img,.sjzs>ul {
    float: left;
}
.sjzs>img {
    display: block;
    width: 234px;
    height: 614px;
}
.sjzs>ul {
    width: 992px;
    height: 614px;
}
.sjzs>ul>li {
    float: left;
}
.sjzs>ul>li>a {
    display: block;
    width: 234px;
    height: 260px;
    padding: 20px 0;
    margin: 0 0 14px 14px;
    background-color: #fff;
}
.sjzs>ul>li>a>img {
    display: block;
    width: 160px;
    margin: 0 auto 18px;
}
.sjzs>ul>li>a>h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
    color: #333;
    text-align: center;
}
.sjzs>ul>li>a>p {
    margin-bottom: 10px;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
}
.sjzs>ul>li>a>span {
    display: block;
    text-align: center;
    color: #ff6700;
    font-size: 14px;
}
.sjzs>ul>li>a>div {
    text-align: center;
}
.sjzs>ul>li>a>div .span1 {
    color: #ff6700;
    font-size: 14px;
}
.sjzs>ul>li>a>div .span2 {
    margin-left: .5em;
    color: #b0b0b0;
    text-decoration: line-through;
}
.sjzs>img:hover,.sjzs>ul>li>a:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate(0,-2px);
    transition: all .3s linear;
}
.phone {
    margin-bottom: 24px;
}


.tv .title h2{
    float: left;
    height: 52px;
    font-size: 22px;
    font-weight: 200;
    line-height: 52px;
    color: #333;
}
.tv .title ul {
    float: right;
}
.tv .title ul>li {
    float: left;
    margin-left: 30px;
}
.tv .title ul a {
    display: block;
    height: 26px;
    margin: 15px 0;
    line-height: 26px;
    font-size: 16px;
    color:#424242
}
.tv .title ul li:last-child>a {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

.tv .img,.tv .list {
    float: left;
}
.tv .contain2 .img {
    width: 234px;
    height: 614px;
}
.tv .contain2 .img img {
    display: block;
    width: 234px;
}
.tv .contain2 .img img:first-child {
    margin-bottom: 14px;
}
.tv .contain2 .img img:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate(0,-2px);
    transition: all .3s linear;
}

.tv .list {
    width: 992px;
    height: 614px;
}
.tv .list>li {
    float: left;
    margin: 0 0 14px 14px;
}
.tv .list>li>a {
    display: block;
    width: 234px;
    height: 260px;
    padding: 20px 0;
    background-color: #fff;
}
.tv .list>li>a>img {
    display: block;
    width: 160px;
    margin: 0 auto 18px;
}
.tv .list>li>a>h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
    color: #333;
    text-align: center;
}
.tv .list>li>a>p {
    margin-bottom: 10px;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
}

.tv .list>li>a>div {
    text-align: center;
}
.tv .list>li>a>div .span1 {
    color: #ff6700 ;
    font-size: 14px;
}
.tv .list>li>a>div .span2 {
    margin-left: .5em;
    color: #b0b0b0;
    text-decoration: line-through;
}

.tv  .spec>div {
    background-color: #fff;
    box-sizing: border-box;
    padding: 35px 0;
    height: 143px;
    width: 234px;
}
.tv  .spec>div:first-child {
    margin-bottom: 14px;
}
.tv .list .spec>div>.left,.tv .list .spec>div>.right {
    float: left;
}
.tv .list .spec>div>.left {
    width: 94px;
    margin: 5px 10px 0 30px;
}
.tv .list .spec>div>.left h4 {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.tv .list .spec>div>.left span {
    display: block;
    margin-top: 6px;
    color: #ff6700 ;
    font-size: 14px;
}
.tv .list .spec>div>.right {
    display: block;
    width: 80px;
}
.tv .list .spec>div>.left2,.tv .list .spec>div>.right2 {
    float: left;
}
.tv .list .spec>div>.left2 {
    margin: 15px 30px 0px 30px;
}
.tv .list .spec>div>.left2 h3 {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
.tv .list .spec>div>.left2 h4 {
    margin-top: 1px;
    font-size: 12px;
    font-weight: 400;

    color: #757575;
}
.tv .list .spec>div>.right2 {
    display: block;
    width: 70px;
}
.tv .list li:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate(0,-2px);
    transition: all .3s linear;
}
.tv .list li.spec:hover {
    box-shadow: 0 0px 0px rgba(0,0,0,0.1);
    transform: translate(0,0px);
}
.tv .list .spec>div:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate(0,-2px);
    transition: all .3s linear;
}
.tv {
    margin-bottom: 24px;
}

.video .title>h2 {
    float: left;
    height: 52px;
    font-size: 22px;
    font-weight: 200;
    line-height: 52px;
    color: #333;
}
.video .title>.ckgd {
    float: right;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
}
.video .title>.ckgd a {
    color:#424242
}

.video .list li {
    float: left;
    background-color: #fff;
    margin-right: 14px;
}
.video .list li:last-child {
    margin-right: 0;
}
.video .list li>a {
    display: block;
    width: 296px;
    height: 285px;
}
.video .list li:first-child>a .top {
    height: 180px;
    background-image: url(./images/video1.webp);
    background-size: 296px 180px;
}
.video .list li:nth-child(2)>a .top {
    height: 180px;
    background-image: url(./images/video2.webp);
    background-size: 296px 180px;
}
.video .list li:nth-child(3)>a .top {
    height: 180px;
    background-image: url(./images/video3.webp);
    background-size: 296px 180px;
}
.video .list li:nth-child(4)>a .top {
    height: 180px;
    background-image: url(./images/video4.webp);
    background-size: 296px 180px;
}
.video .list li>a h3 {
    margin-top: 26px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
}
.video .list li>a h4 {
    margin-top: 5px;
    font-size: 12px;
    color: #b0b0b0;
    font-weight: 400;
    text-align: center;
}
.video .list li:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate(0,-2px);
    transition: all .3s linear;
}
.video .list li .top {
    box-sizing: border-box;
    padding: 140px 0 0 15px;
}
.video .list li span {
    display: block;
    font-size: 25px;
    color: #e0e0e0;
}

/* 尾部 */
.nav4 {
    border-bottom: 1px solid #e0e0e0;
}
.nav4 li {
    float: left;
    /* box-sizing: border-box; */
    text-align: center;
    width: 244px;
    height: 25px;
    margin: 27px 0;
    font-size: 16px;
    border-right: 1px solid #e0e0e0;
    line-height: 25px;
}
.nav4 li:last-child {
    border-right: 0px solid #e0e0e0;
}
.nav4 li a {
    color: #616161;
}
.nav4 li a>span {
    vertical-align: -2px;
    font-size: 23px;
    margin-right: 5px;
}

.nav4 li a:hover {
    color: #ff6700;
}

.footer {
    margin: 40px auto;
}
.footer>dl,.footer>div {
    float: left;
}
.footer dl:first-child {
    height: 25px;
}
.footer dl {
    width: 160px;
}
.footer dl>dt {
    display: block;
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.footer dl>dd {
    display: block;
    margin-inline-start: 40px;
    margin: 10px 0 0;
    font-size: 12px;
}
.footer dl>dd a {
    color: rgb(117,117,117);
}
.footer dl>dd a:hover {
    color: #ff6700;
}
.footer>div {
    float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.footer>div>.phone {
    line-height: 1;
    color: #ff6700;
    font-size: 22px;
    margin: 0 0 5px 0;
}
.footer>div>a {
    display: block;
    margin: 3px auto;
    width: 118px;
    height: 28px;
    font-size: 12px;
    color: #ff6700;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ff6700;
}
.footer>div>a:hover {
    color:#fff;
    background-color: #ff6700;
}

/* 相关信息 */
.site-info {
    height: 205.6px;
    padding: 30px 0;
    background-color: #fafafa;
}
.site-info .xgxx {
    height: 160.2px;
}
.xgxx>img {
    display: block;
    float: left;
    width: 56px;
    height: 56px;
    margin-right: 20px;
}
.xgxx .info-text {
    float: left;
    width: 1149px;
    line-height: 18px;
    font-size: 12px;
}
.xgxx .info-text .p {
    color: #757575;
}
.xgxx .info-text .p1 {
    color: #b0b0b0;
    font-size: 12px
}
.xgxx .info-text img {
    height: 28px;
}
.xgxx .info-links {
    margin: 4px 0 15px;
}
.slogan {
    margin-top: 20px;
    font-size: 19px;
    color: rgb(193,193,193);
    font-family: "KaiTi";
    text-align: center;
}